
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;

}

body{
    background: linear-gradient( 135deg, #1c1c1c, #2c2c2c);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    width: 100%;
    max-width: 400px;
    padding: 10px;
}

.login-box{
    background: #262626;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 40px 20px;
}

.login-box h1{
    margin-bottom: 25px;
    color: #ff7a00;
    font-size: 2rem;
    letter-spacing: 2px;
}

.email-group{
    text-align: left;
    margin-bottom:20px;
}

.email-group label{
    display: block;
    color: #ddd;
    font-size: 0.8rem;
    margin-bottom: 6px;
}

.email-group input{
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.password-group{
    text-align: left;
    margin-bottom:20px;

}
.password-group label{
    display: block;
    color: #ddd;
    font-size: 0.8rem;
    margin-bottom: 6px;

}

.password-group input{
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    transition: all 0.2s ease;
}



.login-button{
    width: 100%;
    padding: 10px;
    background: #ff7a00;    
    border: none;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-button:hover{
    background: #e56c00;
}


.signup-text{
    margin-top: 20px;
    font-size: 0.9rem;
    color: #ccc;
}

.singup-text a{
    color: #ff7a00;
    text-decoration: none;
    font-weight: 500;
}

.singup-text a:hover{
    text-decoration: underline;
}
